.fundoDaPagina {
    color: aquamarine;
}
.nFundo {
    color: blue;
    background-color: azure;
    border: 1px solid;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

.texto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large
}
.fundo{
    color: blue;
    background-color: azure;
    border: 1px solid;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}
.button {
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
  }
.fonte{
    font-family: 'Times New Roman', Times, serif;
}