.fundo {
    color: black;
    background-color: greenyellow;
    text-align: center;
    border: 3px solid black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.texto{
    text-align: center;
    font-size: 200%;
    width: 100%;
    Height: 50px;
    background-color: greenyellow;
    border: 3px solid black;
    color: black;
}
.playfair-display-Texto {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

.menuCentro{
    margin: 0;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 500px; /* Altura da tela */
    flex-wrap: wrap;
    width: 500px;

}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

body {
    box-sizing: border-box;
}

.button {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    
}
.buttonFases {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius:100%;
    border: 3px solid black;
}

#pond1 .container {
    width: 1300px;
    display: flex;
    justify-content: flex-end;
}

#pond2 .container {

    display: flex;
    justify-content: center;
}

#pond3 .container {
    display: flex;
    justify-content: space-around;
}

#pond4 .container {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

#pond5 .container {
    height: 500px;
    display: flex;
    align-items: flex-end;
}

#pond6 .container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pond7 .container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#pond8 .container {
    display: flex;
    flex-direction: row-reverse;
}

#pond9 .container {
    display: flex;
    flex-direction: column;
}

#pond10 .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#pond11 .container {
    width: 500px;
    display: flex;
    flex-direction: column;
justify-content: flex-end;

}

#pond12 .container {
    height: 1100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#pond13 .container {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

#pond14 .container {
    display: flex;

}
.yellow14 {
    order: 2;
    }


#pond15 .container {
    display: flex;

}
.red15 {
    order: -1;
    }

#pond16 .container {
    height: 500px;
    display: flex;
    align-items: flex-start;
}
.yellow16 {
    align-self: flex-end;
    }
#pond17 .container {
    height: 500px;
    display: flex;
    align-items: flex-start;
}
.yellow17 {
    align-self: flex-end;
    order: 2;
    }
#pond18 .container {
    width: 1000px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

#pond19 .container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pond20 .container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pond21 .container {
    width: 1000px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
align-content: flex-start;
}

#pond22 .container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

#pond23 .container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

#pond24 .container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

